
{% extends 'base.html' %}
{% load static %}


{% block body %}
<div class="main-content container-fluid">
    <section class="section">
        <!-- <div class="row match-height"> -->

            <div class="col-12">
                <div class="card">

                    <div class="card-content">
                        <div class="card-body">
                            <!-- <div class="row"> -->
                                <div class="col-md-12 col-12">
                                    <div class="position-relative">
                                        <table class='table' id="table1">
                                            <thead>
                                                <tr>
                                                    <th>Date</th>
                                                    <th>Day</th>
                                                    <th>Name</th>
                                                    
                                                </tr>


                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>14th January</td>
                                                    <td>Friday</td>
                                                    <td>Makar Sankranti</td>
                                                </tr>
                                                <tr>
                                                    <td>26th January</td>
                                                    <td>Wednesday</td>
                                                    <td>Republic Day</td>
                                                </tr>

                                                <tr>
                                                    <td>18th March</td>
                                                    <td>Friday</td>
                                                    <td>Dhuleti</td>
                                                </tr>

                                                <tr>
                                                    <td>11th August</td>
                                                    <td>Thursday</td>
                                                    <td>Rakshabandhan</td>
                                                </tr>

                                                <tr>
                                                    <td>15th August</td>
                                                    <td>Monday</td>
                                                    <td>Independence Day</td>
                                                </tr>

                                                <tr>
                                                    <td>19th August</td>
                                                    <td>Friday</td>
                                                    <td>Janmashtami</td>
                                                </tr>

                                                <tr>
                                                    <td>5th October</td>
                                                    <td>Wednesday</td>
                                                    <td>Dussehra</td>
                                                </tr>

                                                <tr>
                                                    <td>24th October</td>
                                                    <td>Monday</td>
                                                    <td>Diwali</td>
                                                </tr>

                                                <tr>
                                                    <td>25th October</td>
                                                    <td>Tuesday</td>
                                                    <td>New Year</td>
                                                </tr>

                                                <tr>
                                                    <td>26th October</td>
                                                    <td>Wednesday</td>
                                                    <td>Bhai Dooj</td>
                                                </tr>


                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                            <!-- </div> -->
                        </div>
                    </div>
                </div>

            </div>
        <!-- </div> -->
    </section>
</div>
{% endblock %}
