
{% extends 'base.html' %}
{% load static %}


{% block body %}
<div class="main-content container-fluid">
    <section class="section">
        <!-- <div class="row match-height"> -->

            <div class="col-12">
                <div class="card">

                    <div class="card-content">
                        <div class="card-body">
                            <!-- <div class="row"> -->
                                <div class="col-md-12 col-12">
                                    <div class="position-relative">
                                        <table class='table' id="table1">
                                            <thead>
                                                <tr>
                                                    <th>Date</th>
                                                    <th>Day</th>
                                                    <th>Name</th>
                                                    <th></th>
                                                </tr>


                                            </thead>
                                            <tbody>
                                                {% for i in list_of_holiday %}
                                                <tr>
                                                    <td>{{i.date}} </td>
                                                    <td>{{i.day}} </td>
                                                    <td>{{i.festival_name}} </td>
                                                    {%if user.is_superuser%}
                                                    <td>
                                                    <form action="{% url 'deleteholiday' pk=i.pk %}" method="POST">
                                                        {% csrf_token %}
                                                        <button type="submit" name="submit" class="btn btn-danger">Delete</button>
                                                    </form>
                                                    </td>
                                                    {%endif%}
                                                </tr>
                                               {%endfor%}
                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                            <!-- </div> -->
                        </div>
                    </div>
                </div>

            </div>
        <!-- </div> -->
    </section>
</div>
{% endblock %}
